.vscode/**
.vscode-test/**
scripts/**
samples/**
node_modules/**
.gitignore
.eslintrc.json
eslint.config.js
tsconfig.json
tsconfig.test.json
esbuild.js
**/*.ts
**/*.map
**/.DS_Store
**/*.vsix
preview-output.html
.github/**
.vscode-test.mjs
dist/test/**
dist/core.js
dist/core.js.map
dist/comments.js
dist/comments.js.map
dist/reviewPanel.js
dist/reviewPanel.js.map
dist/storage.js
dist/storage.js.map
dist/test/**
